.card__container {
    width: 100%;
    max-width: 460px;
    height: 350px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    border: 2px solid rgb(233, 227, 227);
    padding: 0.6em 1.8em;
    border-radius: 0.5em;
}

hr {
    width: 100%;
    border: 1px solid rgb(246, 238, 238);
    /* margin-bottom: 12em; */
}

/* .card__name-container {
   justify-content: center;
   align-items: center;
} */

.card__name {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 0.5em;
    justify-content: center;
    align-self: center;
    margin-top: 0.7em;
    /* margin-bottom: 1em; */
}

ul {
    padding: 1em 0;
}

.card__list {
    padding: 0.4em 0;
    font-size: 1.1em;
}

.card__content, .card__content-title {
    display: block;
    padding: 0.2em;
}

.card__content-title {
    color: rgb(170, 166, 166);
}

.card__footer {
    /* text-align: right;
    padding: 0 1em; */
    display: flex;
    column-gap: 1em;
    justify-content: right;
    margin-top: 0.7em;    
}

.card__btn {
    min-height: 2em;
    padding: 0;
    border-radius: 19px;
}

/* MEDIA QUERY */

@media (max-width: 620px) {
.card__container {
  width: 100%;
  min-width: 350px;
  height: 280px;
  border: 2px solid rgb(233, 227, 227);
  padding: 0.6em 1.8em;
  border-radius: 0.5em;
  }

.card__name {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 0.5em;
    justify-content: center;
    align-self: center;
    margin-top: 0.2em;
}

ul {
    padding: 0.1em 0;
}

.card__list {
    padding: 0.4em 0;
    font-size: 0.9em;
}

.card__footer {
    column-gap: 1em;
    margin-top: 0.7em;    
}

}

